---
- name: Config files in conf.d
  ansible.builtin.template:
    src: php-{{ item.key }}-{{ item.value }}.j2
    dest:
      /etc/php/{{ php_version }}/{{ item.key }}/conf.d/{{ item.value }}
    mode: "0644"
  become: true
  loop: "{{ php_ini_templates }}"
  notify: Restart php-fpm
  when: php_ini_templates is defined
  tags:
    - php-fpm
    - conf.d
