; {{ ansible_managed }}. role: php-fpm, file: php-fpm-pool.conf.j2

[{{ item.name }}] 
user = www-data
group = www-data
listen = /run/php/php{{ php_version }}-fpm-{{ item.name }}.sock
listen.owner = www-data
listen.group = www-data
pm = dynamic
pm.max_children = {{ item.max_children | default(5) }}
pm.start_servers = {{ item.start_servers | default(2) }}
pm.min_spare_servers = {{ item.min_spare_servers | default(1) }}
pm.max_spare_servers = {{ item.max_spare_servers | default(3) }}
env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
